.view-mission-container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.view-mission-header {
    color: white;
    text-align: center;
    font-size: 38px;
    padding: 40px 0px;
    width: 96%;
    margin-left: 25px;
}
.view-mission-section-text {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}
.view-mission-subheader {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 40px 0px;
}