.view-mission-container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.view-mission-header {
    color: white;
    text-align: center;
    font-size: 38px;
    padding: 40px 0px;
    width: 96%;
    margin-left: 25px;
}
.view-mission-section-text {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    font-size: 20px;
    padding: 30px;
    color: white;
    margin-bottom: 68px;
    margin-top: 40px;
}
.view-mission-subheader {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 40px 0px;
}
.more-info-link-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}
.subheader-main-container {
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 24;
    border-radius: 5px;
    padding: 15px;
}
.modal-content {
    display: flex;
    justify-content: center;
}